* {
  box-sizing: border-box;
  background-color: hsla(220, 36%, 86%, 1);
  user-select: none;
}

body {
  min-height: 100vh;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.container {
  display: flex ;
  flex-flow: column wrap;
  text-align: center;
}


.title {
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Counter Css */
.counter {
  font-size: 6rem;
  margin: auto;
}

.green {
  color: green;
}
.red {
  color: red;
}

h2 {
  margin: 0;
  padding: 0;
}


/* Button container and btn styles */
.btn-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.btn-container .btn {
  font-size: 1.5rem;
  border: .15rem solid black; 
  border-radius: 6px;
  text-transform: uppercase;
  margin: 3rem 1rem ;
  padding: .2rem .6rem;
}


.btn:hover {
  background-color: black;
  color: #fff;
  transition: ease-in .3s;
  cursor: pointer;
}

